<div class="container">

<div class="row">
  <div class="col-sm-3">
  </div>  

  <div class="col-sm-5">
    <h1>New Partner</h1>

	<%= render 'form', partner: @partner %>

	<%= link_to 'Back', partners_path %>
  </div> 
  
  <div class="col-sm-3">
  </div> 

  </div> 

</div>